header > h1 {
    box-sizing: border-box;
    color: rgb(25, 25, 207);  
}

dt > span {
    box-sizing: border-box;
    color: blue;  
}



h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration: black;
}

nav > ul > li {
    text-align: center;
}



.parallax {
    margin-block-start: auto;

}

